{{ define "plant_page" }}
  {{ range .Plants }}
    {{ template "plant_card" . }}
  {{ end }}
  {{ if .HasMore }}
    <div
      class="col-span-full"
      hx-get="{{ .NextPageURL }}"
      hx-trigger="intersect once"
      hx-swap="outerHTML"
    ></div>
  {{ end }}
{{ end }}
