{{template "layout" .}}

{{define "content"}}
  {{template "splash" .}}
  {{template "header" .}}

  <main class="min-h-[calc(100vh-110px)]" x-data="pageState()">
    {{template "wizard" .}}
  </main>

  {{template "scripts" .}}
{{end}}
